	
	
	@font-face {
    font-family: Hacker1;
    src: url('../ASSETS/hacker1.ttf');
}

	@font-face {
    font-family: Matrix;
    src: url('../ASSETS/fonts/matrix/mCode15.ttf');
}

	@font-face {
    font-family: Fixedsys;
    src: url('../ASSETS/fonts/fixedsys/fsex300-webfont.ttf');
}
	body{ font-family:arial;background-color:rgb(66, 143, 150);
	background-image:url(../ASSETS/textures/0.png);
	background-repeat: repeat;
	 background-position: center center;
	     background-attachment: fixed;
		 margin:0;
		 padding:0;
	 user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
overflow:hidden;
z-index:0;
color:rgb(19, 221, 227);
	
	}
	
.SD {float:left;	 user-select:text;
-moz-user-select:text;
-webkit-user-select:text;
-ms-user-select:text;}
	
	hr { color: #555;
background-color: #555;border:0;
height: 2px; }
	
	.ac img{width:50px;height:50px;display:block;float:left;margin:5px;border:2px solid grey;}

	
	#close {float:right;width:15%}


#folders {position:fixed;right:50px;top:30px;width:64px;}


	
.folder {
    width: 48px;
    height: 32px;
    position: relative;
    background-color:rgb(19, 221, 227);
    border-radius: 3px 3px 3px 3x;
margin:30px;
	cursor:pointer;
	float:left;
}

.folder:before {
    content: '';
    width: 50%;
    height: 6px;
    border-radius: 0 3px 0 0;
    background-color: #ccc;
    position: absolute;
    top: -6px;
    left: 0px;
		cursor:pointer;
}

.folder p {padding-top:40px;text-align:center;padding-bottom:20px;font-size:9px;}



select {
margin: 0;
overflow: hidden;
cursor: pointer;
padding: 6px;
display: inline-block;
border: solid 1px #91765d;
background: #eee;
color: #333;
vertical-align: middle;
}


#section {
    
display:none;
position:fixed;
background:#CCC;
width:100%;
height:37px;
padding:10px;
z-index:997;
color:#000;
font-family:Arial, Segoe UI;

}

#section2 {
left:950px;
overflow: hidden;
cursor: pointer;
padding: 6px;
top:10px;
width:200px;
height:18px;
float:right;
margin-right:500px;
border: solid 1px #91765d;
background: #eee;
color: #333;
font-size:8px;
position:absolute;
display:none;


}

#section button {color:#000;border:0;background-color:#333;padding:5px;}


#console {
z-index:44;
padding:10px;

}


#center {
position:fixed;
height:100%;
width:100%;
z-index:-1;
background-image:url(../ASSETS/logos/0.png);
background-repeat:no-repeat;
background-position:center;
}



.footerbtns {position:fixed; bottom:10px; right:10px;border:0;}
.footerbtns a {border:0;}
.footerbtns a img {border:0;}
.footerbtns img{border:0;}

.dragme p { cursor:pointer; }

.dragme {
position:fixed;
background-color:#eee;
color:rgb(19, 221, 227);
text-align:center;
cursor:default;
border-color:rgb(19, 221, 227);

}

#AccessGranted{

background:url(../ASSETS/img/granted.gif);
padding:20px;
border:2px solid #F00;
text-align:center;
color:#F00;
height:80px;
width:300px;
position:fixed;
background-repeat:repeat;
top: 50%;
left: 30%;
/*margin-top: -50px;*/
/*margin-left: -160px;*/
text-shadow: 0.1em 0.1em 0.2em #000;
}

#AccessDenied{

background:url(../ASSETS/img/denied.gif);
padding:20px;
border:2px solid #F00;
text-align:center;
color:#F00;
height:80px;
width:300px;
position:fixed;
background-repeat:repeat;
top: 50%;
left: 30%;
/*margin-top: -50px;*/
/*margin-left: -160px;*/
text-shadow: 0.1em 0.1em 0.2em #000;

}

#LevelRequired{

background:url(../ASSETS/img/denied.gif);
padding:20px;
border:2px solid #F00;
text-align:center;
color:#F00;
height:150px;
width:300px;
position:fixed;
background-repeat:repeat;
top: 50%;
left: 100px;
margin-top: -50px;
/*margin-left: -160px;*/
text-shadow: 0.1em 0.1em 0.2em #000;

}

#CountDown{
-webkit-user-drag: auto | element | none;
position:fixed;
width:60%;
top: 50%;
color:#83f352;
left: 100px;
margin-top: -150px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;

}
#Download2 {
-webkit-user-drag: auto | element | none;
position:fixed;
width:60%;
top: 50%;
color:#83f352;
left: 100px;
margin-top: -150px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;

}
#Downloading {
-webkit-user-drag: auto | element | none;
position:fixed;
width:60%;
top: 50%;
color:#83f352;
left: 100px;
margin-top: -150px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;

}
#Initializing {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -150px;
color:#83f352;
/*margin-left: -227px;*/
text-align:center;
font-size:16px;
padding:20px;
background:#000;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}
#Query {
position:fixed;
width:60%;
top: 50%;
left: 100px;
color:#83f352;
margin-top: -150px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}


#BigFolder {
position:fixed;
width:70%;
top: 50vh;
left: 100px;
margin-top: -150px;
background:#000;
/*margin-left: -130px;*/
text-align:center;
font-size:16px;
/*padding:20px;*/
text-shadow: 0.1em 0.1em 0.2em #000;
border-style: solid;
border-bottom-width:3px;
border-left-width:3px;
border-right-width:3px;
border-top-width:20px;
}


#Irc {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -150px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
border-style: solid;
border-bottom-width:3px;
border-left-width:3px;
border-right-width:3px;
border-top-width:20px;
}
#Tracing {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -220px;
background:#000;
/*margin-left: -330px;*/
color:#83f352;
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}
#Neurotoxin {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -220px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
border-style: solid;
border-bottom-width:3px;
border-left-width:3px;
border-right-width:3px;
border-top-width:20px;
}
#Breach {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -250px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
color:#F00;
border-top:20px solid #83f352;
}

#Countdown {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -130px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #F00;
color:#F00;
border-top:20px solid #F00;
}

#Hash {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -130px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
border-style: solid;
border-bottom-width:3px;
border-left-width:3px;
border-right-width:3px;
border-top-width:20px;
}

#Password {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -130px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #F00;
color:#F00;
border-top:20px solid #F00;
}

#Evacuate {
position:fixed;
width:60%;
top: 50%;
left: 100px;
color:#F00;
margin-top: -250px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #F00;
border-top:20px solid #F00;
}

#Evacuate  img{
background:#FF0;

}

#Rat {
position:fixed;
width:60%;
top: 50%;
left: 100px;
color:#F00;
color:#83f352;
margin-top: -175px;
background:#000;
/*margin-left: -250px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #F00;
border-top:20px solid #F00;
}





#Deploy {
position:fixed;
width:60%;
color:#83f352;
top: 50%;
left: 100px;
margin-top: -195px;
/*margin-left: -227px;*/
text-align:center;
font-size:16px;
padding:20px;
background:#000;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}


#Console {
position:fixed;
width:60%;
top: 50%;
color:#83f352;
left: 100px;
margin-top: -250px;
/*margin-left: -350px;*/
text-align:center;
font-size:16px;
padding:20px;
background:#000;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}

#Console2 {
position:fixed;
width:60%;
top: 50%;
color:#83f352;
left: 100px;
margin-top: -250px;
/*margin-left: -350px;*/
text-align:center;
font-size:16px;
padding:20px;
background:#000;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}





#Scan {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -250px;
background:#000;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
color:#83f352;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}

#Poke{
position:fixed;
border:2px solid #F00;
top: 50%;
left: 100px;
padding:20px;
width:60%;
background:#000;
margin-top: -200px;
/*margin-left: -280px;*/
text-align:center;
color:#F00;
border-top:20px solid #F00;
}

#Pony {
position:fixed;
background:transparent;
border:0;
right: 5%;
width:60%;
height:200px;
bottom: 5%;
z-index:499;
}


#Help {
background:#000;
position:fixed;
padding:20px;
width:60%;
top: 50%;
left: 100px;
margin-top: -152px;
/*margin-left: -450px;*/
z-index:499;
border:2px solid #F00;
border-top:20px solid #F00;
}

#typecode {
background:#000;
position:fixed;
padding:20px;
width:60%;
top: 50%;
left: 100px;
margin-top: -152px;
/*margin-left: -450px;*/
z-index:499;
border:2px solid #F00;
border-top:20px solid #F00;
}

#typecode2 {
background:#000;
position:fixed;
padding:20px;
width:60%;
top: 50%;
left: 100px;
margin-top: -152px;
/*margin-left: -450px;*/
z-index:499;
border:2px solid #F00;
border-top:20px solid #F00;
}

#typecode3 {
background:#000;
position:fixed;
padding:20px;
width:60%;
top: 50%;
left: 100px;
margin-top: -152px;
/*margin-left: -450px;*/
z-index:499;
border:2px solid #F00;
border-top:20px solid #F00;
}
#typecode4 {
background:#000;
position:fixed;
padding:20px;
width:60%;
top: 50%;
left: 100px;
margin-top: -152px;
/*margin-left: -450px;*/
z-index:499;
border:2px solid #F00;
border-top:20px solid #F00;
}

#Numbers  img{
position:fixed;
right: 8%;
width:60%;
top: 5%;
z-index:-1;
}

#Radar  img{
position:fixed;
right: 8%;
width:60%;
bottom: 5%;
z-index:-1;
}

#Map {
position:fixed;
width:60%;
top: 50%;
left: 100px;
margin-top: -250px;
background:#000;
color:#83f352;
/*margin-left: -330px;*/
text-align:center;
font-size:16px;
padding:20px;
text-shadow: 0.1em 0.1em 0.2em #000;
border:3px solid #83f352;
border-top:20px solid #83f352;
}

#SystemFailure{


background:url(../ASSETS/img/ani-system_failure.gif) center center no-repeat #000;
width:99.8%;
height:99.8%;
top:0;
left: 100px;
margin-top: 0;
/*margin-left: 0;*/
text-align:center;
color:#83f352;
z-index:998;
}

#ConnectionLost{
position:fixed;
background:#000;
width:100%;
height:100%;
top:0;
left:0;
margin-top: 0;
font-size:24px;
padding-top:25%;
/*margin-left: 0;*/
text-align:center;
color:#F00;
z-index:999;
text-shadow: 0 0 0 #000;
}

.securityBreach{
position:fixed;
background:url(../ASSETS/img/denied.gif);
background-repeat:repeat;
padding:20px;
border:2px solid #F00;
text-shadow: 0.1em 0.1em 0.2em #000;
width:60%;
height:160px;
top: 50%;
left: 100px;
margin-top: -80px;
/*margin-left: -160px;*/
text-align:center;
color:#F00;
}
.coldwar{
position:fixed;
border:2px solid #F00;
top: 50%;
left: 100px;
margin-top: -200px;
/*margin-left: -280px;*/
text-align:center;
color:#F00;
}
.radar{
position:fixed;
top: 5%;
right: 5%;
text-align:center;
color:#F00;
}
.radar img {
clear:both;
width:250px;
}
.pony{
position:fixed;
right: 5%;
bottom: 5%;
margin-top: -64px;
margin-left: -64px;
z-index:499;
}
.pony img {
width:128px;
}
.window{
position:fixed;
border:2px solid #F00;
top: 50%;
left: 100px;
margin-top: -240px;
/*margin-left: -320px;*/
overflow:hidden;
width:60%;
height:480px;
text-align:center;
color:#F00;
}



 .centerblocklogin {
position:absolute;
left: 100px;
top:50%;
height:380px;
margin-top:-232px;
/*margin-left: -250px;*/ 
width:60%; 
background-color:#000;
padding:30px;
box-shadow: 0px 0px 3px 0px #ccc;
}


#auth {
background:url(../ASSETS/img/granted.gif);
background-repeat:repeat;
background-color:#000;
}
 
 
input {
    border: 5px solid grey; 
    padding: 15px;
    margin: 0 0 10px 0;
	width:250px;
	text-align:center;
}

input:focus {
    border: 5px solid green; 

}

.logosmall

{width:150px;}

#button {
   color: #000;
padding:2px;
padding:3px;

    text-decoration: none;
    cursor: poiner;
	font-family:Hardreq, monospace;
     border:none;
}

#button:hover {
   color: #000;

background-color:#adfb8b;
    text-decoration: none;
    cursor: poiner;
	font-family:Hardreq, monospace;
     border:none;
}

.box {

background:#262425;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363533), color-stop(100%,#1a1819)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #363533 0%,#1a1819 100%); /* Chrome10+,Safari5.1+ */
width:240px;
height:94px;
    position:fixed;
    bottom:-100px;
    right:0px;
    z-index:101;
	border-top-left-radius:2px;
border-top-right-radius: 2px;
border:1px solid black;
font-family:Arial;
}

.box img {background:#ccc;width:64px;height:64px;margin:16px;float:left;}
.box h1 {font-weight:normal;padding-top:20px;margin-bottom:5px;color:#eaeaea;font-size:11px;float:left;}
.box p {color:#adadad;font-size:11px;float:left;}



.Desc {

bottom:5px; text-align:center; font-size:8px;color:grey;text-shadow:none; font-family:arial; padding:0;margin:0;text-align:center;}