a
{
	text-decoration:none;
}
a:hover
{
	text-decoration:none;
}
.chemical_elements
{
	margin:10px;
	padding:0px;
	/*float:left;*/
}

.che_ele_01
{
	background:#fdfdfd;
	border:#f8f8f8 1px solid;
	height:32px;
	font:normal 12px/32px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:center;
}
.che_ele_01 a
{
	color:#000;
	text-decoration:none;
	display:block;
}
.che_ele_01 a:hover
{
	color:#930;
	text-decoration:none;
	display:block;
}
.che_ele_13
{
	background:#fdfdfd;
	border:#f8f8f8 1px solid;
	height:32px;
	font:normal 12px/32px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:center;
	padding:0px 7px;
}
.chemical_elements_td
{
	background:#fdfdfd;
	border:#f8f8f8 1px solid;
	text-align: center;
	font:normal 12px/32px Tahoma, Geneva, sans-serif;
}
.chemical_elements td:hover .element_number
{
	color:#fff;
	text-decoration:none;
	padding:0px 3px;
	text-decoration:none;
}
.element_number
{
	font:normal 10px/10px Tahoma, Geneva, sans-serif;
	color:#fff;
	text-align:right;
	padding:1px 3px;
}
.element_name
{
	font:normal 12px/12px Tahoma, Geneva, sans-serif;
	color:#fff;
}
.element_name a
{
	color:#fff;
	text-decoration:none;
}
.element_name a:hover
{
	color:#fff;
	text-decoration:none;
}

/* pink button */
.che_ele_02
{
	background: #ee7882; /* Old browsers */
	background: -moz-linear-gradient(top,  #ee7882 0%, #de626c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee7882), color-stop(100%,#de626c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ee7882 0%,#de626c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ee7882 0%,#de626c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ee7882 0%,#de626c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ee7882 0%,#de626c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7882', endColorstr='#de626c',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_02:hover
{
	background: #dd4651; /* Old browsers */
	background: -moz-linear-gradient(top,  #dd4651 0%, #ee7882 53%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd4651), color-stop(53%,#ee7882)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dd4651 0%,#ee7882 53%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dd4651 0%,#ee7882 53%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dd4651 0%,#ee7882 53%); /* IE10+ */
	background: linear-gradient(to bottom,  #dd4651 0%,#ee7882 53%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd4651', endColorstr='#ee7882',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#b32d36 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* pistha green button */
.che_ele_03
{
	background: #c7d099; /* Old browsers */
	background: -moz-linear-gradient(top,  #c7d099 0%, #a4ac79 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7d099), color-stop(100%,#a4ac79)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c7d099 0%,#a4ac79 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c7d099 0%,#a4ac79 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c7d099 0%,#a4ac79 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c7d099 0%,#a4ac79 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d099', endColorstr='#a4ac79',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_03:hover
{
	background: #9daa4e; /* Old browsers */
	background: -moz-linear-gradient(top,  #9daa4e 0%, #c7d099 53%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9daa4e), color-stop(53%,#c7d099)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9daa4e 0%,#c7d099 53%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9daa4e 0%,#c7d099 53%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9daa4e 0%,#c7d099 53%); /* IE10+ */
	background: linear-gradient(to bottom,  #9daa4e 0%,#c7d099 53%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9daa4e', endColorstr='#c7d099',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#7c8450 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* viloet button */
.che_ele_04
{
	background: #8787e9; /* Old browsers */
	background: -moz-linear-gradient(top,  #8787e9 0%, #5958c5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8787e9), color-stop(100%,#5958c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8787e9 0%,#5958c5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8787e9 0%,#5958c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8787e9 0%,#5958c5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8787e9 0%,#5958c5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8787e9', endColorstr='#5958c5',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_04:hover
{
	background: #4848c4; /* Old browsers */
	background: -moz-linear-gradient(top,  #4848c4 0%, #8787e9 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4848c4), color-stop(50%,#8787e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4848c4 0%,#8787e9 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4848c4 0%,#8787e9 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4848c4 0%,#8787e9 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #4848c4 0%,#8787e9 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4848c4', endColorstr='#8787e9',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#3634a5 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* robin blue button */
.che_ele_05
{
	background: #45b9f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #45b9f2 0%, #0b7eb4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45b9f2), color-stop(100%,#0b7eb4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45b9f2 0%,#0b7eb4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45b9f2 0%,#0b7eb4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45b9f2 0%,#0b7eb4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45b9f2 0%,#0b7eb4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45b9f2', endColorstr='#0b7eb4',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_05:hover
{
	background: #057bb2; /* Old browsers */
	background: -moz-linear-gradient(top,  #057bb2 0%, #45b9f2 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#057bb2), color-stop(50%,#45b9f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #057bb2 0%,#45b9f2 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #057bb2 0%,#45b9f2 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #057bb2 0%,#45b9f2 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #057bb2 0%,#45b9f2 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#057bb2', endColorstr='#45b9f2',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#066c9c 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* green button */
.che_ele_06
{
	background: #72df76; /* Old browsers */
	background: -moz-linear-gradient(top,  #72df76 0%, #40aa46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72df76), color-stop(100%,#40aa46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #72df76 0%,#40aa46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #72df76 0%,#40aa46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #72df76 0%,#40aa46 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #72df76 0%,#40aa46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72df76', endColorstr='#40aa46',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_06:hover
{
	background: #1fa826; /* Old browsers */
	background: -moz-linear-gradient(top,  #1fa826 0%, #72df76 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1fa826), color-stop(50%,#72df76)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1fa826 0%,#72df76 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1fa826 0%,#72df76 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1fa826 0%,#72df76 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #1fa826 0%,#72df76 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fa826', endColorstr='#72df76',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#1e8324 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* biscut color button */
.che_ele_07
{
	background: #eab782; /* Old browsers */
	background: -moz-linear-gradient(top,  #eab782 0%, #af7f51 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab782), color-stop(100%,#af7f51)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eab782 0%,#af7f51 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eab782 0%,#af7f51 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eab782 0%,#af7f51 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eab782 0%,#af7f51 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab782', endColorstr='#af7f51',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_07:hover
{
	background: #ad6c30; /* Old browsers */
	background: -moz-linear-gradient(top,  #ad6c30 0%, #eab782 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad6c30), color-stop(50%,#eab782)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ad6c30 0%,#eab782 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ad6c30 0%,#eab782 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ad6c30 0%,#eab782 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #ad6c30 0%,#eab782 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad6c30', endColorstr='#eab782',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#916235 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* dark green button */
.che_ele_08
{
	background: #99bbaa; /* Old browsers */
	background: -moz-linear-gradient(top,  #99bbaa 0%, #689f84 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99bbaa), color-stop(100%,#689f84)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #99bbaa 0%,#689f84 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #99bbaa 0%,#689f84 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #99bbaa 0%,#689f84 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #99bbaa 0%,#689f84 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bbaa', endColorstr='#689f84',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_08:hover
{
	background: #439e71; /* Old browsers */
	background: -moz-linear-gradient(top,  #439e71 0%, #99bbaa 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#439e71), color-stop(50%,#99bbaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #439e71 0%,#99bbaa 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #439e71 0%,#99bbaa 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #439e71 0%,#99bbaa 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #439e71 0%,#99bbaa 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439e71', endColorstr='#99bbaa',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#4d866a 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* royal blue button */
.che_ele_09
{
	background: #54ced9; /* Old browsers */
	background: -moz-linear-gradient(top,  #54ced9 0%, #22a8b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54ced9), color-stop(100%,#22a8b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #54ced9 0%,#22a8b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #54ced9 0%,#22a8b3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #54ced9 0%,#22a8b3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #54ced9 0%,#22a8b3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54ced9', endColorstr='#22a8b3',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_09:hover
{
	background: #10a7b2; /* Old browsers */
	background: -moz-linear-gradient(top,  #10a7b2 0%, #54ced9 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10a7b2), color-stop(50%,#54ced9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #10a7b2 0%,#54ced9 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #10a7b2 0%,#54ced9 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #10a7b2 0%,#54ced9 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #10a7b2 0%,#54ced9 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10a7b2', endColorstr='#54ced9',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#0e7e87 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* red button */
.che_ele_10
{
	background: #f33e47; /* Old browsers */
	background: -moz-linear-gradient(top,  #f33e47 0%, #d43941 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f33e47), color-stop(100%,#d43941)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f33e47 0%,#d43941 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f33e47 0%,#d43941 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f33e47 0%,#d43941 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f33e47 0%,#d43941 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f33e47', endColorstr='#d43941',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_10:hover
{
	background: #d3212a; /* Old browsers */
	background: -moz-linear-gradient(top,  #d3212a 0%, #f33e47 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3212a), color-stop(50%,#f33e47)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d3212a 0%,#f33e47 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d3212a 0%,#f33e47 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d3212a 0%,#f33e47 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #d3212a 0%,#f33e47 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3212a', endColorstr='#f33e47',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#b73237 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* sandal button */
.che_ele_11
{
	background: #e4c764; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4c764 0%, #d1ad3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4c764), color-stop(100%,#d1ad3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4c764 0%,#d1ad3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4c764 0%,#d1ad3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4c764 0%,#d1ad3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e4c764 0%,#d1ad3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4c764', endColorstr='#d1ad3a',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_11:hover
{
	background: #cea425; /* Old browsers */
	background: -moz-linear-gradient(top,  #cea425 0%, #e4c764 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cea425), color-stop(50%,#e4c764)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cea425 0%,#e4c764 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cea425 0%,#e4c764 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cea425 0%,#e4c764 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #cea425 0%,#e4c764 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cea425', endColorstr='#e4c764',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#cba72d 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}
/* light blue button */
.che_ele_12
{
	background: #9bb8e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #9bb8e3 0%, #7195c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bb8e3), color-stop(100%,#7195c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9bb8e3 0%,#7195c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9bb8e3 0%,#7195c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9bb8e3 0%,#7195c9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9bb8e3 0%,#7195c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb8e3', endColorstr='#7195c9',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:30px;
	color:#fff;
	text-align:center;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
.che_ele_12:hover
{
	background: #457bc6; /* Old browsers */
	background: -moz-linear-gradient(top,  #457bc6 0%, #9bb8e3 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#457bc6), color-stop(50%,#9bb8e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #457bc6 0%,#9bb8e3 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #457bc6 0%,#9bb8e3 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #457bc6 0%,#9bb8e3 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #457bc6 0%,#9bb8e3 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#457bc6', endColorstr='#9bb8e3',GradientType=0 ); /* IE6-9 */
	width:24px;
	height:26px;
	color:#930;
	text-decoration:none;
	display:block;
	border-bottom:#3a6198 4px solid;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	box-shadow:0px 0px 2px #666;
	cursor:pointer;
}