<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Thunderify Statistical Reporting</title>
<link rel="stylesheet" type="text/css" href="/css/statsrep5/normalize.css"/>
<link href="/css/statsrep5/global.css" rel="stylesheet" type="text/css" />
<!-- Tablet -->
<link href="/css/statsrep5/tablet.css" rel="stylesheet" type="text/css" media="only screen and (min-device-width: 768px)" />
<!-- Desktop -->
<link href="/css/statsrep5/desktop.css" rel="stylesheet" type="text/css" media="only screen and (min-device-width:1024px)" />
<!--[if (lt IE 9)&(!IEMobile)]>
<link href="/css/statsrep5/tablet.css" rel="stylesheet" type="text/css" />
<link href="/css/statsrep5/desktop.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="/newjs/common/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/newjs/common/jquery-global-func.js"></script>
</head>
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if IE 9]><body class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class=""><!--<![endif]-->
<div class="wrapper">
	<div class="topNav1">
		<div class="userLinks"><a href="#">Logout</a></div>
		<div class="welcome">Welcome, Fairfax County Public Schools!</div>
	</div>
	<div class="header"><div class="helpLink"><a href="#">Help</a></div> 
		<div class="hdrLogo"><a href="#"><img src="/statsrep5_images/Scholastic-Stats-Rpt-hdr.png" alt="Scholastic Statistical Reporting" width="590" height="41" /></a></div>
	
		<div class="topNav2">
			<div class="navBtn cyan active"><a href="#">Standard <br />
			Reports</a><img class="triangle" src="/statsrep5_images/navBtnBg-cyan-on.png" alt="" /></div>
			<div class="navBtn orange"><a href="#">Counter <br />
			Reports</a><img class="triangle" src="/statsrep5_images/navBtnBg-orange-on.png" alt="" /></div>
			<div class="navBtn red"><a href="#">Sign Up for <br />
			Monthly <br />Reports</a><img class="triangle" src="/statsrep5_images/navBtnBg-red-on.png" alt="" /></div>
			<div class="navBtn green"><a href="#">Mid-Tier <br />
			Group <br />Reports</a><img class="triangle" src="/statsrep5_images/navBtnBg-green-on.png" alt="" /></div>
		<!-- end .topNav2 --></div>
		<br class="clearfloat" />
    <!-- end .header --></div>
	
  <div class="mainContent">
<div class="exportLinks"><a href="#">Export Grid to Excel</a> | <a href="#">PDF</a></div>
	<div class="breadcrumbs"><a href="#">Back to Report Selector</a></div>
	<h1 class="rptTitle"><span class="schDis">Fairfax County Public Schools</span> <span class="prod">Scholastic GO</span></h1>
  	<h4 class="rptSubTitle">Year Over Year Usage</h4>
	<div class="tabGrp">
		<div class="tabs">
			<div class="tab active" id="tab_01" rel="#panel_01">Loading 1</div>
			<div class="tab" id="tab_02" rel="#panel_02">Loading 2</div>
			<br class="clearfloat" />
			</div>
		<div class="panels">
			<div class="panel" id="panel_01"><img class="loading" src="/statsrep5_images/graph-loading-1.gif" width="100" height="65" alt="loading..." /></div>
			
			<div class="panel" id="panel_02"><img class="loading" src="/statsrep5_images/graph-loading-2.gif" width="100" height="65" /></div>
			
			
			
			<!-- end .panels --></div>
	<!-- end .tabGrp --></div>
	<div id="rptData"><br class="clearfloat" />
	</div>
	<!-- end .content --></div>
  <div class="footer">
  	
	<div class="logo"><img src="/statsrep5_images/Scholastic.png" width="157" height="19" alt="Scholastic" /></div>
	<div class="legal">™ & © 2014 Scholastic Inc. All Rights Reserved.</div>
	<div class="links"><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></div>		
	<!-- end .footer --></div>
  <!-- end .wrapper --></div>
</body>
</html>
