@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  src: local('Bevan'), url(https://fonts.gstatic.com/s/bevan/v7/xVgMFoVwWQJuO7wo0FBeTQ.woff2) format('woff2'), url(https://fonts.gstatic.com/s/bevan/v7/kZxOvEFDTL6rhtQAWC2LTw.woff) format('woff');
}
