@font-face {
  font-family: 'Butterfly Kids';
  font-style: normal;
  font-weight: 400;
  src: local('Butterfly Kids'), local('ButterflyKids'), url(https://fonts.gstatic.com/s/butterflykids/v4/J4NTF5M25htqeTffYImtlbVk06n3quXtKPBYL-zeZ0w.woff2) format('woff2'), url(https://fonts.gstatic.com/s/butterflykids/v4/J4NTF5M25htqeTffYImtlaVF-6wXXIN314UpPArUKH4.woff) format('woff');
}
