@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  src: local('Buenard'), local('Buenard-Regular'), url(https://fonts.gstatic.com/s/buenard/v6/pL67HhOcrNoD2s7WUgFytw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/buenard/v6/duJQeQ_GjW4qq4zzf0vRKw.woff) format('woff');
}
@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 700;
  src: local('Buenard Bold'), local('Buenard-Bold'), url(https://fonts.gstatic.com/s/buenard/v6/8T0adwz_RAtKrxbccQmEFPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(https://fonts.gstatic.com/s/buenard/v6/8T0adwz_RAtKrxbccQmEFBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
